#bill{
    font-size: 25px;
    color: greenyellow;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}
#calculator{
    margin: auto;
    margin-top: 50px;
    text-align: center;
}